@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); /*logo font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap'); /*body font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap'); /*body font italic*/
/* Reset: */
*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-size: 1rem;
  max-width: 100%;
  /* border: 2px solid grey; */
}
/* Reset ^ */

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home > *{
  margin: 1% 0;
}

.recipeForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.recipeForm label{
display:flex;
flex-direction: column;
width: 60%;
}